/* ShowCreators.css */

.creator-database {
    padding: 20px;
    text-align: center;
  }
  
  .banner {
    /* background-color: #0B2027; */
    color: white;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
  }
  
  .banner h1 {
    margin: 0;
    font-size: 2.5em;
  }
  
  .creators-list {
    padding: 20px;
  }
  
  .add-button {
    margin-bottom: 20px;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 4px;
  }
  
  .cards-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    max-width: 1471.3px;
    margin: 0 auto;
  }
  
  .card {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    width: 250px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: left;
  }
  
  .card img {
    max-width: 100%;
    border-radius: 4px;
    margin-bottom: 15px;
  }
  
  .card h3 {
    font-size: 1.5em;
    color: #333;
  }
  
  .card p {
    font-size: 1em;
    color: #666;
  }
  
  .card a {
    display: inline-block;
    color: #0B2027;
    text-decoration: none;
    font-weight: bold;
  }
  
  .card a:hover {
    text-decoration: underline;
  }
  